<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- The versions should be imported from kari submodule, or like dealt with in a way -->
  <package id="Kari.Plugins.DataObject" version="1.1.3-prerelease" />
  <package id="Kari.Plugins.Terminal" version="1.1.3-prerelease" />
  <package id="Kari.Plugins.UnityHelpers" version="1.1.3-prerelease" />
  <package id="Kari.Plugins.Flags" version="1.1.3-prerelease" />
</packages>
