.dub
docs.json
__dummy.html
docs/
/dev_cli
dev_cli.so
dev_cli.dylib
dev_cli.dll
dev_cli.a
dev_cli.lib
dev_cli-test-*
*.exe
*.o
*.obj
*.lst

meson-info
meson-logs
meson-private
compile_commands.json
build.ninja